body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #567DF4;
}

.container {
    text-align: center;
    color: white;
}

.success-icon {
    width: 20vmin; /* Inicialmente más pequeño para adaptarse a diferentes tamaños */
    height: 20vmin;
    background-color: #2BDC3D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    font-size: 10vmin; /* Ajusta el tamaño del icono de verificación basado en el tamaño de la vista */
}

.message h1 {
    font-size: 2vmin; /* Ajusta el tamaño del texto de título según la vista */
    font-weight: normal;
    padding: 2vmin 0;
}

.message p {
    font-size: 1.5vmin; /* Ajusta el tamaño del texto del párrafo según la vista */
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
    .success-icon {
        width: 40vmin; /* Aumenta el tamaño en pantallas más grandes */
        height: 40vmin;
    }

    .checkmark {
        font-size: 5rem; /* Mantiene un tamaño de fuente grande en pantallas más grandes */
    }

    .message h1 {
        font-size: 3rem; /* Tamaño de fuente más grande para títulos en pantallas más grandes */
    }

    .message p {
        font-size: 1.25rem; /* Tamaño de fuente más grande para párrafos en pantallas más grandes */
    }
}
